*{
    font-style: italic;
}
#logotipo{

    width: 80px;
}
body{
  background-color: rgb(255, 231, 244);
}
  .sidebar{
      background-color:rgb(255, 198, 255);
      margin-top:80px;            
      
  }
 

  #title{
    font-size: 30px;
    margin-top: 18px;
    font-family:'Updock', cursive;
    color: #ffffff;
    font-weight:bold;
    text-shadow: 2px 2px black;

  }

  #frase{
      width:200px;
      padding:3px;
     
  }
  #post2{
      width:200px;
      padding:3px;
      
  }
  #post3{
      width:200px ;
      padding:3px;
     
  }
  #post4{
      width: 200px;
      padding:3px;
  }
  .header{
      background-color:#F0ACF1;
  }
  

#tons{
    width:300px;
}

#titleBio{
    font-size:30px;
     
}
#titletutorial{
    font-size:20px;    
}
#titletutorial2{
    font-size:20px;
}
#dicas{
    font-size:20px;
}
#titleTutorial3{
    font-size:20px;

}
#titletutorial4{
    font-size:20px;
    
}
#titletutorial5{
    font-size:20px;    
}
#titletutorial6{
    font-size:20px;
}
#titletutorial7{
    font-size:20px;    
}
#titletutorial8{
    font-size: 20px;
}
#titletutorial9{
    font-size:20px;
}
#titletutorial10{
    font-size:20px;
}
.btn{
    background-color:#fc57ff;
    margin:auto;    
    display: block;  /* faz o botão ocupar a linha inteira */
    width:100px;
    border-color:purple;  
    color: black;
    
}
.card-body{
    background-color:rgb(255, 231, 244);
}
#logotipo{
    opacity:30;
}
#post5{
    width:200px;
    padding:3px;
   
}
#post6{
    width:200px;
    padding:3px;
}
#post7{
    width:200px;
    padding:3px;
}
#post8{
    width:200px;
    padding:3px;
}

#name-error{
    display:none;
}

#email-error{
    display:none;
}
#fone-error{
    display:none;
}
.rodapé{
    text-align:center;
    background-color: #F0ACF1;
    font-family: 'Updock', cursive;
}
.card{
    margin:auto;
    background-color:#fc38ff;
    border-radius:4px;
    
    
}
.card-body{
    background-color: #F0ACF1;
}

#sobreMim{
    color:#ff6bbc;
    text-align: center;
    text-shadow: 3px 3px black;
}
.texto{
    background-color: #fd73ff;
    color:#ffffff;
}

.bibliografia{
    background-color: #fd73ff;
    color:#ffffff;
    top:350px;
}
 
#titleDica{
    font-family:'Updock', cursive;
    font-size:30px;
    font-weight:bold;
    text-shadow: 3px 3px black;
    
}

.header{
    position: fixed;
    right:0px;    
    left:0px;
}

a{
    color:rgb(255, 255, 255);
    background-color: #fc50ff;
    display: block;       
    
}
a:hover{
    background-color:#fd73ff
}

ul{
    list-style: none;
}

.main-content{
    margin-top: 50px;
}

.formulário {
    margin-top:70px;
}

nav{
    position: fixed;
    
}

.informações{
   margin-top:80px;
}